<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        .button-container {
            display: inline-block;
            margin: 10px;
        }

        .button {
            display: block;
            padding: 10px 20px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .button:hover {
            background-color: #0056b3;
        }

        .button-description {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .button-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
    </style>
</head>

<body>
    <h1>VISTA PARCIAL</h1>

    <div class="button-group">
        <div class="button-container">
            <div class="button-description">Listar datos por IDENTIFICADOR de docente</div>
            <a href="/viewPracticas" class="button">Listado</a>
        </div>

        <div class="button-container">
            <div class="button-description">Listado de estudiantes por ID de practica</div>
            <a href="/page2" class="button">Listar</a>
        </div>
    </div>

</body>

</html>